<div class="column-layout group">
  <igx-navbar class="navbar">
    <igx-navbar-action>
      <button igxButton="icon" igxRipple [igxToggleAction]="navDrawer" class="expand-menu">
        <igx-icon>
          menu_open
        </igx-icon>
      </button>
    </igx-navbar-action>
    <igx-navbar-title class="navbar-content">
      <h6 class="h6">
        Dashboard
      </h6>
    </igx-navbar-title>
    <div class="row-layout group_1">
      <div routerLink="/forntend/profile" class="column-layout user-name">
        <p class="ig-typography__overline text">
          Login as
        </p>
        <p class="text">
          Rick sanches
        </p>
      </div>
      <igx-avatar src="/assets/DALL·E Mitch Sprockets portrait.png" shape="circle" routerLink="/forntend/profile"></igx-avatar>
      <button igxButton="icon" igxRipple [igxToggleAction]="dropdown1" class="expand-menu">
        <igx-icon>
          more_vert
        </igx-icon>
      </button>
      <igx-drop-down #dropdown1 class="dropdown">
        <igx-drop-down-item routerLink="/forntend/profile">
          Profile
        </igx-drop-down-item>
      </igx-drop-down>
    </div>
  </igx-navbar>
  <div class="row-layout group">
    <div class="column-layout sidebar">
      <igx-nav-drawer [isOpen]="true" [pin]="true" [pinThreshold]="1024" #navDrawer class="nav-drawer">
        <ng-template igxDrawerMini>
          <div igxDrawerItem igxRipple>
            <igx-icon class="icon">
              inventory
            </igx-icon>
          </div>
          <div igxDrawerItem igxRipple>
            <igx-icon class="icon">
              data_thresholding
            </igx-icon>
          </div>
          <div igxDrawerItem igxRipple>
            <igx-icon class="icon">
              addchart
            </igx-icon>
          </div>
        </ng-template>
        <ng-template igxDrawer>
          <div igxDrawerItem igxRipple routerLink="/forntend/home">
            <igx-icon class="icon">
              keyboard_backspace
            </igx-icon>
            <span>Back to home</span>
          </div>
          <div igxDrawerItem igxRipple routerLink="/admin/products">
            <igx-icon class="icon">
              inventory
            </igx-icon>
            <span>Products</span>
          </div>
          <div igxDrawerItem igxRipple routerLink="/admin/stats">
            <igx-icon class="icon">
              data_thresholding
            </igx-icon>
            <span>Charts</span>
          </div>
          <div igxDrawerItem igxRipple routerLink="/admin/sales">
            <igx-icon class="icon">
              account_circle
            </igx-icon>
            <span>Sales</span>
          </div>
        </ng-template>
      </igx-nav-drawer>
    </div>
    <div class="column-layout content">
      <div class="column-layout group">
        <div class="view-container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
