<div class="column-layout group">
  <igx-tabs tabAlignment="center" [disableAnimation]="true" class="tabs">
    <igx-tab-item [selected]="true" class="tab-item">
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>
          info
        </igx-icon>
        <span igxTabHeaderLabel>Pizza</span>
      </igx-tab-header>
      <igx-tab-content class="row-layout tab-item-content">
        <igx-card type="outlined" class="card">
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              Product title
            </h3>
            <h5 igxCardHeaderSubtitle>
              Ingredients go here
            </h5>
          </igx-card-header>
          <igx-card-media height="200px">
            <img src="/assets/DALL·E Crater Pizza.png" class="image" />
          </igx-card-media>
          <igx-card-actions class="actions-content">
            <ng-container igxStart></ng-container>
            <ng-container igxEnd>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  share
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  favorite
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
              </button>
            </ng-container>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              Product title
            </h3>
            <h5 igxCardHeaderSubtitle>
              Ingredients go here
            </h5>
          </igx-card-header>
          <igx-card-media height="200px">
            <img src="/assets/DALL·E Pizza Planet.png" class="image" />
          </igx-card-media>
          <igx-card-actions class="actions-content">
            <ng-container igxStart></ng-container>
            <ng-container igxEnd>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  favorite
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  share
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
              </button>
            </ng-container>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              Product title
            </h3>
            <h5 igxCardHeaderSubtitle>
              Ingredients go here
            </h5>
          </igx-card-header>
          <igx-card-media height="200px">
            <img src="/assets/Cosmic Pizza Art.png" class="image" />
          </igx-card-media>
          <igx-card-actions class="actions-content">
            <ng-container igxStart></ng-container>
            <ng-container igxEnd>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  favorite
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  share
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
              </button>
            </ng-container>
          </igx-card-actions>
        </igx-card>
      </igx-tab-content>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>
          info
        </igx-icon>
        <span igxTabHeaderLabel>Burger</span>
      </igx-tab-header>
      <igx-tab-content class="row-layout tab-item-content">
        <igx-card type="outlined" class="card">
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              Title goes here...
            </h3>
            <h5 igxCardHeaderSubtitle>
              Ingredients
            </h5>
          </igx-card-header>
          <igx-card-media height="200px">
            <img src="/assets/DALL·E Landscape Burger.png" class="image" />
          </igx-card-media>
          <igx-card-actions class="actions-content">
            <ng-container igxStart></ng-container>
            <ng-container igxEnd>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  share
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  favorite
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
              </button>
            </ng-container>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              Title goes here...
            </h3>
            <h5 igxCardHeaderSubtitle>
              Ingredients
            </h5>
          </igx-card-header>
          <igx-card-media height="200px">
            <img src="/assets/Planetary Burger Art.png" class="image" />
          </igx-card-media>
          <igx-card-actions class="actions-content">
            <ng-container igxStart></ng-container>
            <ng-container igxEnd>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  share
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  favorite
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
              </button>
            </ng-container>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              Title goes here...
            </h3>
            <h5 igxCardHeaderSubtitle>
              Ingredients
            </h5>
          </igx-card-header>
          <igx-card-media height="200px">
            <img src="/assets/DALL·E Meteor Burger.png" class="image" />
          </igx-card-media>
          <igx-card-actions class="actions-content">
            <ng-container igxStart></ng-container>
            <ng-container igxEnd>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  share
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  favorite
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
              </button>
            </ng-container>
          </igx-card-actions>
        </igx-card>
      </igx-tab-content>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>
          info
        </igx-icon>
        <span igxTabHeaderLabel>Pasta</span>
      </igx-tab-header>
      <igx-tab-content class="row-layout tab-item-content">
        <igx-card type="outlined" class="card">
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              Title goes here...
            </h3>
            <h5 igxCardHeaderSubtitle>
              Ingredients
            </h5>
          </igx-card-header>
          <igx-card-media height="200px">
            <img src="/assets/DALL·E 2023-10-24 15.54.12 - Realistic depiction of Mars Pasta against a black background_ The spaghetti strands have a distinct reddish hue resembling Martian soil. The sauce is .png" class="image" />
          </igx-card-media>
          <igx-card-actions class="actions-content">
            <ng-container igxStart></ng-container>
            <ng-container igxEnd>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  share
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  favorite
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
              </button>
            </ng-container>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              Title goes here...
            </h3>
            <h5 igxCardHeaderSubtitle>
              Ingredients
            </h5>
          </igx-card-header>
          <igx-card-media height="200px">
            <img src="/assets/DALL·E Space Worm Pasta.png" class="image" />
          </igx-card-media>
          <igx-card-actions class="actions-content">
            <ng-container igxStart></ng-container>
            <ng-container igxEnd>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  share
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  favorite
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
              </button>
            </ng-container>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              Title goes here...
            </h3>
            <h5 igxCardHeaderSubtitle>
              Ingredients
            </h5>
          </igx-card-header>
          <igx-card-media height="200px">
            <img src="/assets/DALL·E Volcano Pasta.png" class="image" />
          </igx-card-media>
          <igx-card-actions class="actions-content">
            <ng-container igxStart></ng-container>
            <ng-container igxEnd>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  share
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  favorite
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  add_shopping_cart
                </igx-icon>
              </button>
            </ng-container>
          </igx-card-actions>
        </igx-card>
      </igx-tab-content>
    </igx-tab-item>
  </igx-tabs>
</div>
